<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<div>
    <p th:text="'数学计算：1+2=' + (1 + 2)"/>
    <p th:text="'用户编号：' + ${acct2.userId}"/>
    <p th:text="'用户姓名：' + ${acct2.acctName}"/>
</div>
<hr/>
<div th:object="${acct2}">
        <p th:text="'用户编号：' + ${acct2.userId}"/>
        <p th:text="'用户姓名：' + ${acct2.acctName}"/>
        <p th:text="'出生日期：' + *{#dates.format(birthday,'yyyy-MM-dd')}"/>
</div>
</body>
</html>