<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faw.modules.piWebJob.dao.OnlineDataDao">
	<resultMap id="resultMap"
			   type="com.faw.modules.piWebJob.entity.OnLineData">
		<result column="ID" property="id" />
		<result column="PART_ID" property="partId" />
		<result column="PART_ID2" property="partId2" />
		<result column="MEASURE_TIME" property="measureTime" />
		<result column="MODEL" property="model" />
		<result column="FIXTURE" property="fixTure" />
		<result column="FACTORY" property="factory" />
		<result column="UNIT_NAME" property="unitName" />
		<result column="MEASURE_POINT" property="measurePoint" />
		<result column="MEASURE_CATEGORY" property="measureCategory" />
		<result column="CATEGORY_DIRECT" property="categoryDirect" />
		<result column="MEASURE_X" property="measureX" />
		<result column="MEASURE_Y" property="measureY" />
		<result column="MEASURE_Z" property="measureZ" />
		<result column="MEASURE_P" property="measureP" />
		<result column="THEORY_X" property="theoryX" />
		<result column="THEORY_Y" property="theoryY" />
		<result column="THEORY_Z" property="theoryZ" />
		<result column="JUST_NO" property="justNo" />
		<result column="RESERVE1" property="reserve1" />
		<result column="RESERVE2" property="reserve2" />
		<result column="RESERVE3" property="reserve3" />
	</resultMap>



	<insert id="insertMyBatch" parameterType="java.util.List">
		INSERT INTO PIWEB_ONLINEDATA
		(
		ID,
		PART_ID,
		PART_ID2,
		MEASURE_TIME,
		MODEL,
		FIXTURE,
		FACTORY,
		UNIT_NAME,
		MEASURE_POINT,
		MEASURE_CATEGORY,
		CATEGORY_DIRECT,
		MEASURE_X,
		MEASURE_Y,
		MEASURE_Z,
		MEASURE_P,
		THEORY_X,
		THEORY_Y,
		THEORY_Z,
		JUST_NO,
		RESERVE1,
		RESERVE2,
		RESERVE3

		)
		<foreach collection="list" item="item" index="index" separator="union all">
			(
			select
			#{item.id, jdbcType=VARCHAR},
			#{item.partId, jdbcType=VARCHAR},
			#{item.partId2, jdbcType=VARCHAR},
			#{item.measureTime, jdbcType=VARCHAR},
			#{item.model, jdbcType=VARCHAR},
			#{item.fixTure, jdbcType=VARCHAR},
			#{item.factory, jdbcType=VARCHAR},
			#{item.unitName, jdbcType=VARCHAR},
			#{item.measurePoint, jdbcType=VARCHAR},
			#{item.measureCategory, jdbcType=VARCHAR},
			#{item.categoryDirect, jdbcType=VARCHAR},
			#{item.measureX, jdbcType=VARCHAR},
			#{item.measureY, jdbcType=VARCHAR},
			#{item.measureZ, jdbcType=VARCHAR},
			#{item.measureP, jdbcType=VARCHAR},
			#{item.theoryX, jdbcType=VARCHAR},
			#{item.theoryY, jdbcType=VARCHAR},
			#{item.theoryZ, jdbcType=VARCHAR},
			#{item.justNo, jdbcType=VARCHAR},
			#{item.reserve1, jdbcType=VARCHAR},
			#{item.reserve2, jdbcType=VARCHAR},
			#{item.reserve3, jdbcType=VARCHAR}
			from
			dual
			)
		</foreach>
	</insert>

</mapper>
